<%=render 'navbar'%>
<div class="top_banner">
    <div class="card">Teacher duty Assigner
    <%# <span>By Team .EXE</span> %>
    </div>
</div>
<%# <div class="main">
    <div class="card">By Team .EXE</div>
</div> %>