<%= render 'main/navbar' %>

<div class="content">
    <div class="tables">
    <div class="teachers">
        <table class="table">
            <thead>
                <th>Email</th>
                <th>Name</th>
                <th>Department</th>
                <th>Resend</th>
            </thead>
            <tbody>
            <%@teachers.each do |teacher| %>
                <tr>
                    <td><%=teacher.email %></td>
                    <td><%=teacher.name %></td>
                    <td><%=teacher.department %></td>
                    <td><%=link_to('resend', teacher_confirmation_path(teacher: {:email => "#{teacher.email}"}), :method => :post,remote: true)%></td>
                  
                </tr>
            <%end%>
            </tbody>
        </table>
        <%=form_tag admin_add_teacher_path,{remote: true,method: :post,:class=>"add_exam"} do%>
            <h3>Add Teacher</h3>
            <%=text_field :teacher , :name,placeholder: "Name",required: true%>
            <%=email_field :teacher , :email,placeholder: "Email",required: true%><br>
            <%=text_field :teacher , :department,placeholder: "Department",required: true%>
            <%=submit_tag :Add%>
        <%end%>
       
    </div>
    <div class="exams">
    <table class="table">
            <thead>
                <tr>
                    <th>Exam Id</th>
                    <th>Course</th>
                    <th>Date</th>
                    <th>Timings</th>
                    <th>Class</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
            <%@exams.each do|exam| %>
                <tr>
                    <td><%=exam.course_id%></td>
                    <td><%=exam.course%></td>
                    <td><%=exam.date%></td>
                    <td><%=exam.time.to_formatted_s(:time)%></td>
                    <td><%=exam.cls%></td>
                    <td><%=exam.room%></td>
                </tr>
                <%end %>
            </tbody>
        </table>
        <%=form_tag admin_add_exam_path,{remote: true,method: :post,:class=>"add_exam"} do%>
            <h3>Add Exam</h3>
            <%=text_field :exam , :course_id,placeholder: "Course Id",required: true%>
            <%=text_field :exam , :course,placeholder: "Course",required: true%><br>
            <%=date_field :exam , :date,required: true%>
            <%=time_field :exam , :time,required: true%><br>
            <%=text_field :exam , :cls,placeholder: "Class",required: true%>
            <%=text_field :exam , :room,placeholder: "Room",required: true%><br>
            <%=submit_tag :Add%>
        <%end%>
    </div>
    </div>
    <%=button_to 'Automate Duties',admin_automate_path,remote: true,method: :post%>
    <div id="automated_duties">
    </div>
</div>
<script>

    $('.add_exam input[type="submit"]').on('click',function (e) {
        $('body').append('<%=escape_javascript(render 'loader')%>')
        
    })

</script>