// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.top_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 94vh;
    background: linear-gradient(-135deg,rgb(255, 208, 0) ,rgb(255, 228, 73));
}